<html lang="en">
	<head>
		<title>Venue Modeling</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	</head>
	<body>
		<!--Header Section-->
		<section class="header_section">
		<p class="logoLabel">Venue Modelling</p>
		<img src="./src/assets/images/print.png" class="print_img" title="print" (click)="print()"/>
		</section>
		<!--Header Section End-->
		<!--Context Menu Begin-->
		<div id="menu" style="border: 1px solid #ddd;background: #eee;">
			<ul>
				<li>Copy</li>
				<li>Paste</li>
				<li>Delete</li>
				<li>Copy Areas</li>
				<li>Paste Areas</li>
				<li class="edit">Edit
					<ul>
						<li>Horizontal</li>
						<li>Vertical</li>
						<li>Clockwise</li>
						<li>Anti Clockwise</li>
					</ul>
				</li>
				<li>Move Origin Here</li>
				<li>Properties</li>
			</ul>
		</div>
		<!--Context Menu End-->
		<!--Main Section-->
		<div class="main_scene">
		<!--Canvas Section begin-->
			<div #rendererContainer id="main-canvas" class="heatmap">
			</div>
			<!--Canvas Section End-->
			<!--Right Input section-->
			<div class="shapes-group">
			<!--DropDown-->
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select shape
						<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li *ngFor="let shape of geometryShapes" (click)="onDropdownChanged(shape)"><a>{{ shape }}</a></li>
					</ul>
				</div>
				<br/>
				<!-- Create Group -->
				<div>
					<button class="btn btn-primary" (click)="createGroup()">Create group</button>
				</div>
				<br>
				<!-- Select the created template -->
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Template
						<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li *ngFor="let template of geometryService.groups" (click)="onTemplateChanged(template)"><a>{{ template?.name }}</a></li>
					</ul>
				</div>
				<!--DropDown End-->
				<br>
				<!--Hidden Panel-->
				<!--isCube-->
				<div *ngIf="isCubeSelected">
					<form [formGroup]="cubeDimensionForm">
						<div>
							<h4 *ngIf="!isEditCubeObject">Specify dimensions for {{ selectedShape }}</h4>
							<h4 *ngIf="isEditCubeObject">Edit
								{{ getFormattedObjectName(editableObject?.name) }}</h4>
						</div>
						<div class="form-group">
							<label for="width">Width:</label>
							<input formControlName="width" class="form-control" type="number" placeholder="width">
						</div>
						<div class="form-group">
							<label for="height">height:</label>
							<input formControlName="height" class="form-control" type="number" placeholder="height">
						</div>
						<div class="form-group">
							<label for="depth">depth:</label>
							<input formControlName="depth" class="form-control" type="number" placeholder="depth">
						</div>
						<div><button *ngIf="!isEditCubeObject"
								(click)="createCube(cubeDimensionForm.get('width').value, cubeDimensionForm.get('height').value, cubeDimensionForm.get('depth').value)"
								class="btn btn-success" [disabled]="cubeDimensionForm.invalid" type="button">Create</button>
							<button *ngIf="isEditCubeObject" (click)="editObject()" class="btn btn-success"
								[disabled]="cubeDimensionForm.invalid" type="button">Edit</button>
						</div>
					</form>
				</div>
				<!-- isSphere-->
				<div *ngIf="isSphereSelected">
					<form [formGroup]="sphereDimensionForm">
						<div>
							<h4 *ngIf="!isEditSphereObject">Specify dimensions for {{ selectedShape }}</h4>
							<h4 *ngIf="isEditSphereObject">Edit
								{{ getFormattedObjectName(editableObject?.name) }}
							</h4>
						</div>
						<div class="form-group">
							<label for="radius">Radius:</label>
							<input formControlName="radius" class="form-control" type="number" placeholder="radius">
						</div>
						<div class="form-group">
							<label for="widthSegments">Width segments:</label>
							<input formControlName="widthSegments" class="form-control" type="number"
								placeholder="widthSegments">
						</div>
						<div class="form-group">
							<label for="heightSegments">Height segments:</label>
							<input formControlName="heightSegments" class="form-control" type="number"
								placeholder="heightSegments">
						</div>
						<div><button *ngIf="!isEditSphereObject"
								(click)="createSphere(sphereDimensionForm.get('radius').value, sphereDimensionForm.get('widthSegments').value, sphereDimensionForm.get('heightSegments').value)"
								class="btn btn-success" [disabled]="sphereDimensionForm.invalid" type="button">Create</button>
							<button *ngIf="isEditSphereObject" (click)="editObject()" class="btn btn-success"
								[disabled]="sphereDimensionForm.invalid" type="button">Edit</button>
						</div>
					</form>
				</div>
				<!--isTrapezoid-->
				<div *ngIf="isTrapezoidSelected">
					<form [formGroup]="trapezoidDimensionForm">
						<!-- radiusTop : Float, radiusBottom : Float, height : Float, radialSegments : Integer, heightSegments :
						Integer, -->
						<div>
							<h4 *ngIf="!isEditTrapezoidObject">Specify dimensions for {{ selectedShape }}
							</h4>
							<h4 *ngIf="isEditTrapezoidObject">Edit
								{{ getFormattedObjectName(editableObject?.name) }}
							</h4>
						</div>
						<div class="form-group">
							<label for="radius">radiusTop:</label>
							<input formControlName="radiusTop" class="form-control" type="number" placeholder="radiusTop">
						</div>
						<div class="form-group">
							<label for="radiusBottom">radiusBottom:</label>
							<input formControlName="radiusBottom" class="form-control" type="number" placeholder="radiusBottom">
						</div>
						<div class="form-group">
							<label for="height">height:</label>
							<input formControlName="height" class="form-control" type="number" placeholder="height">
						</div>
						<div class="form-group">
							<label for="radialSegments">radial segments:</label>
							<input formControlName="radialSegments" class="form-control" type="number"
								placeholder="radialSegments">
						</div>
						<div class="form-group">
							<label for="heightSegments">height segments:</label>
							<input formControlName="heightSegments" class="form-control" type="number"
								placeholder="heightSegments">
						</div>
						<div><button *ngIf="!isEditTrapezoidObject"
								(click)="createTrapezoid(trapezoidDimensionForm.get('radiusTop').value, trapezoidDimensionForm.get('radiusBottom').value, trapezoidDimensionForm.get('height').value, trapezoidDimensionForm.get('radialSegments').value, trapezoidDimensionForm.get('heightSegments').value)"
								class="btn btn-success" [disabled]="trapezoidDimensionForm.invalid"
								type="button">Create</button>
							<button *ngIf="isEditTrapezoidObject" (click)="editObject()" class="btn btn-success"
								[disabled]="trapezoidDimensionForm.invalid" type="button">Edit</button>
						</div>
					</form>
				</div>
				<!--Surface Grid-->
				<div *ngIf="isHelperSelected">
					<form [formGroup]="helperGridDimensionForm">
						<div>
							<h4 *ngIf="!isEditHelperObject">Specify dimensions for {{ selectedShape }}</h4>
							<h4 *ngIf="isEditHelperObject">Edit
								{{ getFormattedObjectName(editableObject?.name) }}
							</h4>
						</div>
						<div class="form-group">
							<label for="size">Size:</label>
							<input formControlName="size" class="form-control" type="number" placeholder="size">
						</div>
						<div class="form-group">
							<label for="divisions">divisions:</label>
							<input formControlName="divisions" class="form-control" type="number" placeholder="divisions">
						</div>
						<div><button *ngIf="!isEditHelperObject"
								(click)="createHelperGrid(helperGridDimensionForm.get('size').value, helperGridDimensionForm.get('divisions').value)"
								class="btn btn-success" [disabled]="helperGridDimensionForm.invalid"
								type="button">Create</button>
							<button *ngIf="isEditHelperObject" (click)="editObject()" class="btn btn-success"
								[disabled]="helperGridDimensionForm.invalid" type="button">Edit</button>
						</div>
					</form>
				</div>
				<!--Distance Between objects-->
				<div *ngIf="draggableObjectsArray.length >= 2">
					<h2>Find Distance</h2>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">From
							<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li *ngFor="let geometry of geometryType" (click)="selectedShape1(geometry)"><a>{{ geometry }}</a>
							</li>
						</ul>
						{{object1}}
					</div>

					<br>

					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">To
							<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li *ngFor="let geometry of geometryType" (click)="selectedShape2(geometry)"><a>{{ geometry }}</a>
							</li>
						</ul>
						{{object2}}
					</div>

				</div>
				<br><br>
				<!--Finding Distance button-->
				<div>
					<button type="button" class="btn btn-success" (click)="getDistance()"
						*ngIf="draggableObjectsArray.length >= 2">
						Find Distance
					</button>
					<h2 *ngIf="distance">{{distance}} Units</h2>
				</div>
			</div>
		</div>
		<section class="map_section">
		<p class="logoLabel">Heat Map</p>
		<button (click)="generateHeatMap(true)" class="gen_btn btn btn-primary">Generate Heat Map</button>
		</section>
		<div class="thermalHeatMap"></div>
		</body>
</html>